---
---

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* -------------------------------------- */
/* Circular image crop for highlight cards */
/* -------------------------------------- */

.circle-crop {
  width: 220px;        // adjust as needed
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
